*{
	margin: 0;
	border: 0;
}

body{
	background-color: black;
	overflow-x: hidden;
}

@font-face{
	font-family: 'DearKatie';
	src: url('DearKatie.ttf');
}

.header{
	position: fixed;
	background-color: black;
	top: 0;
	width: 100%;
	height: 5%;
	z-index: 10;
}

.header a{
	font-family: 'DearKatie';
	text-decoration: none;
	font-size: 21pt;
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding-top: 15px;
	position: fixed;
}

.header a:hover{
	color: rgb(255,0,255);
}

.blink{
	font-family: 'DearKatie';
	text-decoration: none;
	position: fixed;
	top: 15px;
	font-size: 21pt;
	padding: none;
	color: white;
	animation: blink 1s linear infinite;
}

.blink a:hover{
		color: rgb(255,0,255);
}

	@keyframes blink{
	0%{opacity: 0;}
	50%{opacity: .5;}
	100%{opacity: 1;}
}


.readmecontainer{
	position: relative;
	padding: 10%;
	padding-left: 20%;
	padding-right: 18%;
	padding-bottom: 15%;
}

p {
	font-family: 'DearKatie';
	font-size: 21pt;
	text-decoration: none;
	color: white;
}

ul {
	font-family: 'DearKatie';
	font-size: 21pt;
	text-decoration: none;
	color: white;
}


.indexcontainer{
	position: relative;
	padding-top: 10%;
	padding-left: 20%;
	padding-right: 18%;
	padding-bottom: 20%;
}

.indexcontainer a{
	font-family: 'DearKatie';
	text-decoration: none;
	font-size: 21pt;
	text-align: center;
	color: white;

}

.indexcontainer a:hover{
	color: rgb(255,0,255);
}

.indexphoto{
	float: center;
	padding: 10px 25px 40px 25px;
	width: 285px;
}

.detailphoto{
	padding: 10px 25px 10px 25px;
	width: 955px; 
}

.date{
	text-align: right;
	padding-right: 60px;
	font-family: 'DearKatie';
	font-size: 21pt;
	color: white;
}

.where{
	text-align: center;
	font-family: 'DearKatie';
	font-size: 21pt;
	color: white;
}

.button{
	background-color: black;
	color: white;
	border: 2px solid white;
	padding: 8px;
	position: relative;
	display: inline-block;
	left: 46.5%;
}

.button:hover{
	color: rgb(255,0,255);
	border-color: rgb(255,0,255);
}


img{
	float: left;
	width: 300px;
	height: auto;
	padding: 50px;
}